@import url("'https://fonts.googleapis.com/css2?family=Lora");
@import url("components/container.css");
@import url("components/avatar.css"); 
@import url("components/button.css"); 
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/cadre.css");  

h4 {
    font-family: Lora-sans serif;
    color: #E4E0DD;
    text-align: center;
}

body{
	font-family:'Lora', serif;
	font-size: 18px;
	background-color: #E4E0DD;
	color: rgb(50, 50, 50) ;

}
h1, h2, h3{
	font-family: 'Times new roman', sans-serif;
	font-weight: bold;

}
a {
	text-decoration: none;
}
.container{
	width: 100%;
	text-align: center;
.container h1{
	margin-top: 60px;
	font-size: 24px;
}
.card-white {
    background-color: #E4E0DD;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.9);
    margin: 20px 0px;
    text-align: center;

.text-with-flowers {
    margin-bottom: 50px;
}




