.avatar {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.avatar img {
    max-width: 50%; /* Ajustez la largeur des images selon vos besoins */
    height: auto; /* Pour maintenir le ratio d'aspect de l'image */

}
