.cards {
	display: flex;
	flex-wrap: wrap;
}

.card{
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 2);
	border-radius: 6px;
	margin: 10px;
	flex-basis:200px;
	flex-grow: 1;
}
.card img {
	width: 250px;
	height: 250px;
	border-radius: 6px;


}

.card-white {
    background-color: black;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
    text-align: center;
 }

.list-inline li {
    display: inline;
    padding: 10px;
}

